@font-face {
     font-family: 'UniNeue';
     src: url('../../fonts/UniNeueRegular.eot');
     src: url('../../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'),
          url('../../fonts/UniNeueRegular.woff2') format('woff2'),
          url('../../fonts/UniNeueRegular.woff') format('woff'),
          url('../../fonts/UniNeueRegular.ttf') format('truetype');
     font-weight: normal;
}

@font-face {
     font-family: 'UniNeueBook';
     src: url('../../fonts/UniNeueBook.eot');
     src: url('../../fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'),
          url('../../fonts/UniNeueBook.woff2') format('woff2'),
          url('../../fonts/UniNeueBook.woff') format('woff'),
          url('../../fonts/UniNeueBook.ttf') format('truetype');
     font-weight: normal;
}

@font-face {
     font-family: 'UniNeueBlack';
     src: url('../../fonts/UniNeueBlack.eot');
     src: url('../../fonts/UniNeueBlack.eot?#iefix') format('embedded-opentype'),
          url('../../fonts/UniNeueBlack.woff2') format('woff2'),
          url('../../fonts/UniNeueBlack.woff') format('woff'),
          url('../../fonts/UniNeueBlack.ttf') format('truetype');
     font-weight: normal;
}

@font-face {
     font-family: 'UniNeueHeavy';
     src: url('../../fonts/UniNeueHeavy.eot');
     src: url('../../fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'),
          url('../../fonts/UniNeueHeavy.woff2') format('woff2'),
          url('../../fonts/UniNeueHeavy.woff') format('woff'),
          url('../../fonts/UniNeueHeavy.ttf') format('truetype');
     font-weight: normal;
}